<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Feed.Title }}</title>
</head>
<body>
<div>
<a href="/">Back</a><br/>
{{ if .Items }}
    Articles:
<ol>
{{- $parent := .Feed.Title | sluggify -}}
{{ range $key, $item := .Items }}
<li>
    {{ if hasHtml $item }}
    <a href="/{{ $parent }}/{{ $item.PathSlug }}.html">{{- $item.Title -}}</a>
    {{ else }}
    {{- $item.Title -}}
    {{ end }}
    {{- if not $item.Updated.IsZero }} updated {{ fmtTime $item.Updated -}} {{ end -}}<br/>
    {{ range $typ, $content := $item.Content }}
    {{ if and (validType $typ) }}
    <a download href="/{{ $parent }}/{{ $item.PathSlug }}.{{ $typ }}">{{$typ}}</a>
    {{ end }}
    {{ end }}
</li>
{{ end }}
</ol>
{{ else }}
    <p> Nothing here, please move along.</p>
{{ end }}
</div>
</body>
</html>
