<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed listing</title>
    <style media="screen"> input[name="feed-url"] { min-width: 24ex; } </style>
</head>
<body>
<div>
<nav>
    {{ template "services.html" . }}
</nav>
<div> Tracked feeds: </div>
<ol>
{{ range $key, $feed:=.Feeds }}
<li>
    <a href="/{{ $feed.Title | sluggify }}/">{{- $feed.Title -}}</a>
    by {{ $feed.Author }}<br/> Updates {{ fmtDuration $feed.Frequency -}}, last updated {{ fmtTime $feed.Updated }}
</li>
{{ end }}
</ol>
</div>
{{ template "new-feed.html" }}
</body>
</html>
