<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Feed.Title }}</title>
</head>
<body>
<div>
<a href="/">Back</a><br/>
{{ if .Items }}
    Articles:
<ol>
{{- $parent := .Feed.Title | sluggify -}}
{{ range $key, $item := .Items }}
<li>
    {{ if hasHtml $item }}
    <a href="/{{ $parent }}/{{ $item.PathSlug }}.html">{{- $item.Title -}}</a>
    {{ else }}
    {{- $item.Title -}}
    {{ end }}
    {{ if not $item.Updated.IsZero }} Last updated {{ $item.Updated -}} {{ end }}<br/>
    {{ if hasEPub $item }} <a download href="/{{ $parent }}/{{ $item.PathSlug }}.epub">epub</a>{{ end }}
    {{ if hasMobi $item }} <a download href="/{{ $parent }}/{{ $item.PathSlug }}.mobi">mobi</a>{{ end }}
</li>
{{ end }}
</ol>
{{ else }}
    <p> Nothing here, please move along.</p>
{{ end }}
</div>
</body>
</html>
