<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login with your Pocket account</title>
</head>
<body>
<main>
{{ if .Details.Authorization }}
    {{ $auth := .Details.Authorization }}
    <p>Name: {{ $auth.Username }}</p>
{{ else }}
    <p>After successfully authorizing the "{{ .Details.AppName }}" application you will receive a document with a code to confirm your subscription.</p>
    <a href="{{.Details.AuthorizeURL}}">Authorize</a>
{{ end }}
</main>
</body>
</html>
